{% extends 'index.html' %}

{% block cuerpo %}
		<article class="module width_full">
			<header><h3>Agregar Usuario</h3></header>
			<div class="module_content">
				<div class="tab_container">
					<div id="tab1" class="tab_content">
						<table class="tablesorter" cellspacing="0"> 
							<div class="module_content">
								<fieldset>
									<form method="POSt">
										{% csrf_token %}
										<p><input type="text"  name="username" placeholder="Username"title="Ingrese un username" required ></p>
	 									<p><input type="password" name="password1" placeholder="Password" title="Ingrese su contraseña" required ></p>
										<p><input type="password" name="password2" placeholder=" Confirm Password"title="Ingrese de nuevo su contraseña" required></p>
	 									<p><input type="text"  name="first_name" placeholder="Nombre" title="Ingrese su nombre"required></p>
	 									<p><input type="text"  name="last_name" placeholder="Apellido" title="Ingrese su apellido" required></p>
										<p><input type="text" name="email" placeholder="Email" title="Ingrese su Email" required></p>
										<p><input type="text"  name="telefono" placeholder="Telefono" title="Ingrese su numero telefonico" required></p>
										<p><input type="text"  name="direccion" placeholder="Direccion"></p>
										<p><input type="text"  name="observacion" placeholder="Observacion">
										
										<input type="submit" value="Registrar">
										<a href="{% url 'apps.usuario.views.administrar_usuario' %}">Cancelar</ins></a>
									</form>
								</fieldset>
							</div>
						</table>
					</div>
				</div>
			</div>
		</article>
{% endblock cuerpo %}

