{% extends 'index.html' %}

{% block cuerpo %}
		<article class="module width_full">
			<header><h3>Cambiar Contraseña</h3></header>
			<div class="module_content">
				<div class="tab_container">
					<div id="tab1" class="tab_content">
						<table class="tablesorter" cellspacing="0"> 
							<div class="module_content">
								<form method="POSt">
									{% csrf_token %}
									<table class="table"><p>{{ form }}</p></table>
									<input type="submit" value="Guardar">
   								</form>
   							</div>
   						</table>
   					</div>
   				</div>
   			</div>
   		</article>
{% endblock cuerpo %}
