{% extends 'administracion.html' %}
{% block titulo %}Administrar roles{% endblock %}
{% block encabezado %}Roles <small>Haz click en un rol para mas detalles</small>{% endblock %}

{% block contenido %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
            </tr>
        </thead>
        {% if roles|length > 2 %}
            {% for rol in roles %}
                {% if rol.pk > 2 %}
                    <tr class="clickableRow" href='{% url "apps.autenticacion.views.detalle_rol" rol.id %}' id="tablaRol" rel="tabla" title="Ver detalles..">
                        <td>{{ rol }}</td>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr><td class="warning">No hay roles de usuario registrados aun</td>
        {% endif %}
        </tr>
    </table>
   
    {% block mensaje %}{% endblock %}
{% endblock %}