{% extends 'index.html' %}

{% block buscador %}
    <form class="quick_search" action='{% url "apps.roles.views.buscar_rol" %}'>
            <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;" name="q" value="{{ query|escape }}" required>
    </form>
{% endblock buscador %}

{% block cuerpo %}
    <article class="module width_full">
        <header>
            <h3>Gestion de Roles </h3>
                {% if perms.auth.add_group %}
                    <a href="{% url 'apps.roles.views.crear_rol' %}"><th align="right"><input type="image" src="{{ STATIC_URL }}pagina_principal/images/mas.png" title="Crear"></th></a>
                {% endif %}
        </header>
        <div class="module_content">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0"> 
                        <thead> 
                            {% if roles|length > 0 %}
                                {% for rol in roles %}
                                    {% if rol.pk > 2 %}
                                        <tr class="clickableRow" href='{% url "apps.roles.views.detalle_rol" rol.id %}' id="tablaRol" rel="tabla">
                                        <th>{{ rol }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>No hay roles de usuario registrados aun</tr>
                            {% endif %}
                        </thead>                        
                    </table>
                </div>
            </div>
        </div>  
    </article>  
{% endblock %}