{% extends 'rol/administrar_rol.html' %}
{% block titulo %}Eliminar Rol{% endblock %}
{% block encabezado %}Eliminar {{ rol.name }}{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="/administracion/roles/" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <p>Desea eliminar el rol {{ rol.name }}?</p>
    <p>
        <a  class="btn btn-primary btn-lg" href="{% url 'administracion.views.eliminar_rol' rol.id %}">Si</a>
        <a class="btn btn-default btn-lg" href="/administracion/roles/">No</a>
    </p>


{% endblock %}