
{% extends 'index.html' %}

{% block cuerpo %}
    
        <article class="module width_full">
            <header><h3>Detalles del Proyecto</h3></header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <div class="message"><p><strong>Nombre: </strong>{{ proyecto.Nombre }}</p></div>
                            <div class="message"><p><strong>Creado por: </strong>{{ proyecto.Usuario_creador }}</p></div>
                            <div class="message"><p><strong>Fecha de Creacion: </strong>{{ proyecto.Fecha_creacion }}</p></div>
                        </table>

                    </div>

                    
                </div>
            </div>
        </article>

     <form class="quick_search" action='{% url "apps.userstory.views.buscar_userstory" %}'>
            <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;" name="q" value="{{ query|escape }}" required>
    </form>

    <article class="module width_full">
            <header>
                <h3>User Storys del Proyecto</h3>
                {% if usuario_actor.can_add_proyecto %}
                    <a href="{% url 'apps.userstory.views.crear_userstory' proyecto.id %}"><th align="right"><input type="image" src="{{ STATIC_URL }}pagina_principal/images/mas.png" title="Crear"></th></a>
                {% endif %}
            </header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <thead> 
                                {% if userstorys|length > 0 %}
                                    {% for userstory in userstorys %}
                                        {% if userstory.pk > 0 %}
                                            {% if userstory.Proyecto_asignado == proyecto %}
                                                {% if userstory.is_active %}
                                                    <tr class="clickableRow" href='{% url "apps.userstory.views.detalle_userstory" userstory.id %}'>
                                                    <th>{{ userstory.Nombre }}</th>
                                                     <th align="center"><font color="#751395">{{userstory.Estado}}

                                                        {% if userstory.in_kanban %}
                                                           <strong>|</strong> {{userstory.get_tabla}}
                                                        {% endif %}

                                                     </font></th>
                                                    <th align="right"><font color="#04A935">Activo</font></th>
                                                {%else%}
                                                    <tr class="clickableRow" href='{% url "apps.userstory.views.detalle_userstory" userstory.id %}'>
                                                    <th>{{ userstory.Nombre }}</th>
                                                    <th align="center"><font color="#751395">{{userstory.Estado}}</font></th>
                                                    <th align="right"><font color="red">No Activo</font></th>
                                                {% endif %}
                                               
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr><td class="warning">No hay userstory de usuario registrados aun</td>
                                {% endif %}
                            </thead>                        
                        </table>
                    </div>
                </div>
            </div>  
    </article>

    <form class="quick_search" action='{% url "apps.sprint.views.buscar_sprint" %}'>
            <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;" name="q" value="{{ query|escape }}" required>
    </form>
    <article class="module width_full">
            <header>
                <h3>Sprints del proyecto </h3>

                {% if usuario_actor.can_add_proyecto %}
                    <a href="{% url 'apps.sprint.views.crear_sprint' proyecto.id %}"><th align="right"><input type="image" src="{{ STATIC_URL }}pagina_principal/images/mas.png" title="Crear"></th></a>
                {% endif %}
            </header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <thead> 
                                {% if sprints|length > 0 %}
                                    {% for sprint in sprints %}
                                        {% if sprint.pk > 0 %}
                                            {% if sprint.Proyecto_asignado == proyecto %}
                                                    {% if sprint.is_active %}
                                                        <tr class="clickableRow" href='{% url "apps.sprint.views.detalle_sprint" sprint.id%}'>
                                                        <th>{{ sprint.Nombre }}</th>
                                                        <th align="right"><font color="#04A935">Activo</font></th>
                                                    {%else%}
                                                        <tr class="clickableRow" href='{% url "apps.sprint.views.detalle_sprint" sprint.id%}'>
                                                        <th>{{ sprint.Nombre }}</th>
                                                        <th align="right"><font color="red">No Activo</font></th>
                                                    {% endif %}
                                                
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr><td class="warning">No hay sprint de usuario registrados aun</td>
                                {% endif %}
                            </thead>                        
                        </table>
                    </div>
                </div>
            </div>  
        </article>
    <article class="module width_full">
            <header>
                <h3>Administracion de Tablas </h3>

                <a href="{% url 'apps.mcp.views.vista_agregar_tabla' proyecto.id %}"><th align="right"><input type="image" src="{{ STATIC_URL }}pagina_principal/images/mas.png" title="Crear"></th></a>
            </header>

            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <thead> 
                                {% if tablas|length > 0 %}
                                    {% for tabla in tablas %}
                                        {% if tabla.id > 0 %}
                                            <tr class="clickableRow" href='{% url "apps.mcp.views.detalle_tabla" proyecto.id tabla.id %}' id="tablaproyecto" rel="tabla">
                                            <th>{{ tabla.Nombre }}</th>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr><td class="warning">Aun no se han incluido Tablas Kanban</td>
                                {% endif %}
                            </thead>
                        </table>
                    </div>
                </div>
            </div>  
        </article>

{% endblock cuerpo %}