
{% extends 'index.html' %}

{% block cuerpo %}
        <article class="module width_full">
            <header><h3>Detalles del Sprint</h3></header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <div class="message"><p><strong>Nombre: </strong>{{ sprint.Nombre }}</p></div>
                            <div class="message"><p><strong>Creado por: </strong>{{ sprint.Usuario_creador }}</p></div>
                            <div class="message"><p><strong>Fecha de Creacion: </strong>{{ sprint.Fecha_creacion }}</p></div>
                            <div class="message">
                            <div class="message"><p><strong>Duracion: </strong>{{ sprint.Duracion }}</p></div>
                            <div class="message"><p><strong>Tiempo Restante: </strong>{{ sprint.Restante }}</p></div>
                            <div class="message"><p><strong>Estado: </strong>{{ sprint.Estado }}</p></div>
                            <div class="message"><p><strong>Tabla Asignada: </strong>{{ sprint.Tabla_asignada.Nombre }}</p></div>
                            <div class="message"><p><strong>Prioridad mas alta: </strong>{{ sprint.Prioridad_mas_alta }}</p></div>
                            <div class="message">
                            <p>
                                {% if sprint.Estado == 'Pendiente' and sprint.Proyecto_asignado.Estado != 'Terminado'%}

                                    {% if perms.sprint.change_sprint %}
                                        <a href="{% url 'apps.sprint.views.modificar_sprint' sprint.id%}">Modificar</a>
                                        <strong> | </strong>
                                    {% endif %}

                                    {% if perms.sprint.iniciar_sprint %}
                                        {% if not proyecto.sprint_activo %}
                                           <a href="{% url 'apps.sprint.views.vista_iniciar_sprint' sprint.id%}"> Iniciar Sprint </a>
                                            <strong> | </strong> 
                                        {% endif %}
                                    {% endif %}

                                    {% if  perms.sprint.cambiar_estado_sprint %}
                                        <a href="{% url 'apps.sprint.views.cambiar_estado_sprint' sprint.id%}">Cambiar Estado</a>
                                        <strong> | </strong>
                                    {% endif %}

                                    {% if perms.sprint.delete_sprint %}
                                        <a href="{% url 'apps.sprint.views.vista_eliminar_sprint' sprint.id%}">Eliminar</a>
                                        <strong> | </strong>
                                    {% endif %}

                                {% endif %}

                                {% if sprint.Estado == 'En_curso' and perms.sprint.detener_sprint and sprint.Proyecto_asignado.Estado != 'Terminado'%}
                                    <a href="{% url 'apps.sprint.views.vista_detener_sprint' sprint.id%}">Detener Sprint </a>
                                    <strong> | </strong>
                                    <a href="{% url 'apps.graficos.views.ver_backlog' sprint.id%}"> Ver Sprint Backlog </a>
                                    <strong> | </strong>
                                    <a href="{% url 'apps.graficos.views.ver_burdownchart' sprint.id%}">Ver Burdownchart</a>
                                    <strong> | </strong>
                                
                                {% else %}
                                    {% if sprint.Estado == 'Terminado' %}
                                        <a href="{% url 'apps.graficos.views.ver_backlog' sprint.id%}"> Ver Sprint Backlog </a>
                                        <strong> | </strong>
                                        <a href="{% url 'apps.graficos.views.ver_burdownchart' sprint.id%}">Ver Burdownchart</a>
                                        <strong> | </strong>
                                        {% if perms.sprint.delete_sprint and sprint.Proyecto_asignado.Estado != 'Terminado' %}
                                            <a href="{% url 'apps.sprint.views.vista_eliminar_sprint' sprint.id%}">Eliminar</a>
                                            <strong> | </strong>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                    
                                <a href="javascript:history.go(-1)">Volver</a>
                            </p>
                        </table>                       
                    </div>
                </div>
            </div>
        </article>
{% endblock cuerpo %}