
{% extends 'index.html' %}

{% block cuerpo %}
    <section id="main" class="column">
        <article class="module width_full">
            <header><h3>Detalles del Sprint</h3></header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <div class="message"><p><strong>Nombre: </strong>{{ sprint.Nombre }}</p></div>
                            <div class="message"><p><strong>Creado por: </strong>{{ sprint.Usuario_creador }}</p></div>
                            <div class="message"><p><strong>Fecha de Creacion: </strong>{{ sprint.Fecha_creacion }}</p></div>
                            <div class="message">
                            <div class="message"><p><strong>Duracion: </strong>{{ sprint.Duracion }}</p></div>
                            <div class="message"><p><strong>Estado: </strong>{{ sprint.Estado }}</p></div>
                            <div class="message"><p><strong>Tabla Asignada: </strong>{{ sprint.Tabla_asignada.Nombre }}</p></div>
                            <div class="message">
                                <p>
                                    {% if usuario_actor.can_change_proyecto %}
                                        {% if sprint.Estado == 'Pendiente' %}

                                            <a href="{% url 'apps.sprint.views.modificar_sprint' sprint.id%}">Modificar</a>
                                            <strong> | </strong>

                                            <a href="{% url 'apps.sprint.views.vista_iniciar_sprint' sprint.id%}"> Iniciar Sprint </a>
                                            <strong> | </strong>

                                            <a href="{% url 'apps.sprint.views.vista_eliminar_sprint' sprint.id%}">Eliminar</a>
                                            <strong> | </strong>

                                            <a href="{% url 'apps.sprint.views.cambiar_estado_sprint' sprint.id%}">Cambiar Estado</a>
                                            <strong> | </strong>
                                        {% endif %}

                                        {% if sprint.Estado == 'En_curso' %}
                                            <a href="{% url 'apps.sprint.views.vista_detener_sprint' sprint.id%}"> Detener Sprint </a>
                                            <strong> | </strong>
                                        {% endif %}
                                    {% endif %}
                                    
                                    <a href="javascript:history.go(-1)">Volver</a>
                                </p>
                            </div>                            
                        </div>
                        </table>
                        
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock cuerpo %}