{% extends "index.html" %}

{% block cuerpo %}
    <section id="main" class="column">
        <article class="module width_full">
            <header><h3>Eliminar sprint</h3></header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <form id="formulario" method="post" action="">
                            <p>Eliminar sprint</p>
                            <a href="{% url 'apps.sprint.views.eliminar_sprint' sprint.id%}">Eliminar</a>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock cuerpo %}

{% block contenido %}
    

{% endblock %}