{% extends 'index.html' %}

{% block buscador %}
    <form class="quick_search" action='{% url "apps.flujos.views.buscar_flujo" %}'>
            <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;" name="q" value="{{ query|escape }}" required>
    </form>
{% endblock buscador %}

{% block cuerpo %}
    <article class="module width_full">
        <header>
            <h3>Gestion de Flujos </h3>
                {% if usuario_actor.can_add_flujo %}
                    <a href="{% url 'apps.flujos.views.crear_flujo' %}"><th align="right"><input type="image" src="{{ STATIC_URL }}pagina_principal/images/mas.png" title="Crear"></th></a>
                {% endif %}
        </header>
        <div class="module_content">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0"> 
                        <thead> 
                            {% if flujos|length > 0 %}
                                {% for flujo in flujos %}
                                    {% if flujo.pk > 0 %}
                                        <tr class="clickableRow" href='{% url "apps.flujos.views.detalle_flujo" flujo.id %}' id="tablaFlujo" rel="tabla">
                                        <th>{{ flujo.Nombre }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>No hay flujos registrados aun</tr>
                            {% endif %}
                        </thead>                        
                    </table>
                </div>
            </div>
        </div>  
    </article>  
{% endblock %}