{% extends 'index.html' %}

{% block cuerpo %}
        <article class="module width_full">
           <header>
            <h3>Adjuntar Archivo</h3>
                <a href="{% url 'document.add' %}"><th align="right"><input type="image" src="{{ STATIC_URL }}pagina_principal/images/mas.png" title="Crear"></th></a>
            </header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <div class="module_content">
                                <form id="formulario" method="post">
                                    {% csrf_token %}
                                    <table class="table">
                                        <p>{{ formulario }}</p>
                                    </table>
                                    <p><input  type="submit" value="Confirmar"></p>
                                </form>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </article>
{%endblock cuerpo%}