{% extends 'index.html' %}

{% block cuerpo %}
    <section id="main" class="column">
        <article class="module width_full">
            <header><h3>Operacion Userstory</h3></header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <div class="module_content">
                                <form id="formulario" method="post">
                                    {% csrf_token %}
                                    <table class="table">
                                        <p>{{ formulario }}</p>
                                    </table>
                                    <p><input  type="submit" value="Confirmar"></p>
                                </form>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </section>
{%endblock cuerpo%}