
{% extends 'index.html' %}

{% block cuerpo %}
        <article class="module width_full">
            <header><h3>Detalles del Userstory</h3></header>
            <div class="module_content">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0"> 
                            <div class="message"><p><strong>Nombre: </strong>{{ userstory.Nombre }}</p></div>
                            <div class="message"><p><strong>Estado: </strong>{{ userstory.Estado }}</p></div>
                            <div class="message"><p><strong>Usuario Encargado: </strong>{{ userstory.Usuario_asignado }}</p></div>
                            <div class="message"><p><strong>Prioridad: </strong>{{ userstory.Prioridad }}</p></div>
                            <div class="message"><p><strong>Duracion: </strong>{{ userstory.Duracion }}</p></div>
                            {% if userstory.in_kanban %}
                                
                                <div class="message"><p><strong>Tabla en la que se encuentra: </strong>{{ tabla.Nombre }}</p></div>
                                
                                <div class="message"><p><strong>Actividad: </strong>{{ userstory.Actividad_asignada }}</p></div>
                                
                                <div class="message"><p><strong>Estado en la actividad: </strong>{{ userstory.Estado_de_actividad }}</p></div>
                            {% endif %}
                            
                            <div class="message"><p><strong>Creado por: </strong>{{ userstory.Usuario_creador }}</p></div>
                            <div class="message"><p><strong>Bloqueo: </strong>{{ userstory.Bloqueado }}</p></div>
                            <div class="message">
                            <p>
                            {% if userstory.Estado == 'AsignadoSprintActivo' %}

                                {% if not userstory.Bloqueado %}
                                    {% if  perms.userstory.asignar_horas_us %}
                                        {% if userstory.Estado_de_actividad != 'done'  %}
                                            <a href="{% url 'apps.userstory.views.asignar_horas_us' userstory.id %}">Asignar Horas</a>
                                            <strong> | </strong>
                                        {% endif %}
                                    {% endif %}

                                    {% if userstory.Estado_de_actividad == 'doing' %}

                                        {% if perms.userstory.avanzar_us %}
                                            <a href="{% url 'apps.userstory.views.avanzar_us' userstory.id %}">Concluir Actividad</a>
                                            <strong> | </strong>
                                        {% endif %}      
                                    {% endif %}

                                    {% if userstory.Estado_de_actividad == 'done' %}

                                        {% if actividad.Orden == numero %}
                                            {% if usuario_actor == proyecto.Scrum_Master %}
                                                <a href="{% url 'apps.userstory.views.avanzar_us' userstory.id %}">Terminar User Story</a>
                                                <strong> | </strong>
                                            {% endif %}

                                        {% else %}

                                            {% if perms.userstory.avanzar_us %}
                                                <a href="{% url 'apps.userstory.views.avanzar_us' userstory.id %}">Avanzar a la Siguiente Actividad</a>
                                                <strong> | </strong>

                                                <a href="{% url 'apps.userstory.views.retroceder_us' userstory.id %}">Recomenzar Actividad</a>
                                                <strong> | </strong>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}


                            {% if perms.userstory.change_userstory %}
                                <a href="{% url 'apps.userstory.views.modificar_userstory' userstory.id %}">Modificar</a>
                                <strong> | </strong>
                            {% endif %}

                            {% if  perms.userstory.cambiar_estado_us %}
                                <a href="{% url 'apps.userstory.views.cambiar_estado_userstory' userstory.id %}">Cambiar Estado</a>
                                <strong> | </strong>
                            {% endif %}
                                     
                            {% if perms.userstory.delete_userstory %}
                                <a href="{% url 'apps.userstory.views.vista_eliminar_userstory' userstory.id %}">Eliminar</a>
                                <strong> | </strong>
                            {% endif %}  

                            <a href="javascript:history.go(-1)">Volver</a>
                            </p>
                            </div>                            
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </article>

      


        {% for us in  horas_us %}
            <article class="module width_full">
                <header><h3>Detalles de su actividad</h3></header>
                    <div class="module_content">
                        <div class="tab_container">
                            <div id="tab1" class="tab_content">
                                <table class="tablesorter" cellspacing="0"> 
                                    <div class="message"><p><strong>Horas: </strong>{{ us.Horas }}</p></div>
                                    <div class="message"><p><strong>Descripcion de Actividad: </strong>{{ us.Descripcion }}</p></div>
                                    {% for archivos in us.Archivos_adjuntos.all %}
                                        <a href='{% url "db_file_storage.get_file" %}?name={{ archivos.docfile }}' target='_blank'>
                                        <img height=64 width=64 src="{% url 'db_file_storage.get_file' %}?name={{ archivos.docfile }}" />
                                        </a>                                   
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
            </article> 
        {% endfor %}
        
{% endblock cuerpo %}
